body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "lato", sans-serif;
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginFrm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    width: 600px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
  
  
  ::placeholder {
    color: transparent;
}

.confirm-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn,
.cancelBtn,
.signUpBtn {
    flex: none;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
    width: 120px;
}

.submitBtn {
    background-color:  rgb(135, 156, 250);
    color: white;
}
  
.submitBtn:hover {
    background-color: rgb(160, 176, 247);
    transform: translateY(-2px);
}

.cancelBtn {
    background-color: lightcoral;
    color: white;
}

.cancelBtn:hover {
    background-color: rgb(255, 100, 100);
    transform: translateY(-2px);
}

.signUpBtn {
    background-color: mediumseagreen;
    color: white;
}

.signUpBtn:hover {
    background-color: green;
    transform: translateY(-2px);
}


.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(135, 156, 250);
}

.input:focus {
    border: 2px solid rgb(135, 156, 250);
}

.input:not(:placeholder-shown) + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}


.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  
  
  .inputContainer select {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    appearance: none;
    color: #000;
}
  
  .inputContainer::after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
  }
  
  .inputContainer select:focus + .label,
  .inputContainer select:not(:placeholder-shown) + .label {
      top: -7px;
      left: 3px;
      z-index: 10;
      font-size: 14px;
      font-weight: 600;
      color: #DADCE0;
  }

  form div.incorrect label{
    background-color: #f06272;
  }

  form div.incorrect input{
    border-color:#f06272
  }


body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-mode .form {
    background-color: #1e1e1e;
    color: #f0f0f0;
    box-shadow: none;
}

body.dark-mode .input {
    background-color: #2c2c2c;
    color: #ffffff;
    border: 1px solid #555;
}

body.dark-mode .label {
    background-color: #1e1e1e;
    color: #ccc;
}

body.dark-mode .submitBtn,
body.dark-mode .cancelBtn {
    background-color: #4f46e5;
}

body.dark-mode .submitBtn:hover,
body.dark-mode .cancelBtn:hover {
    background-color: #6366f1;
}


