html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    padding: 1.25rem;
    box-sizing: border-box;
    min-width: calc(100% - 400px);
}


.sidebar {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    overflow: auto;
}

.sidebar a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a.active{
    font-weight: bold;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.card {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.small, .large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small {
    flex: 0.75;
}

.large {
    flex: 2;
}

.username{
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}