html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.container {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    padding: 1.25rem;
    box-sizing: border-box;
    min-width: calc(100% - 400px);
}

.container-cours{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    padding: 1.25rem;
    box-sizing: border-box;
    min-width: calc(100% - 400px);
}

.description-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.description-box{
    width:45%;
}


iframe {
    display: block;
    width: 790px;
    height: 472px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.rating-level-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width:45%;
    gap: 20px;
}

.level-box{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.rating-box{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.sidebar {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    overflow: auto;
}

.sidebar a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a.active{
    font-weight: bold;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.card {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-grow: 1;
}

.small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.75;
}

.large {
    flex: 2;
    flex-direction: column;
}

.profile-info {
    font-size: 18px;
    padding: 5px;
}

.username{
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container1 {
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input, select {
    padding: 8px;
    font-size: 16px;
    width: auto;
}

.courses {
    margin-top: 20px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.course-card {
    background-color: rgb(14 165 233 / 1);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.course-card strong {
    font-size: 18px;
    display: block;
}

.course-card p {
    margin: 10px 0;
}

.discipline {
    display: block;
    font-style: italic;
    color: #333;
    margin-top: 5px;
}

.duration {
    display: block;
    font-style: italic;
    color: #666;
    margin-top: 5px;
}

.course-card strong,
.course-card p,
.course-card .discipline,
.course-card .duration {
    color: white;
}

