{% extends "nav.html" %}

{% block title %}Home - GLO-2005{% endblock %}

{% block content %}
<div class="container-cours">
    <h1 class="text-3xl font-bold mb-4 mt-4">{{ cours.nom_cours }}</h1>

    <div class="description-container">
        <div class="description-box">
            <h1 class="text-xl font-bold px-2 pt-2">Description:</h1>
            <p class="p-2">{{ cours.description_complete }}</p>
        </div>
        <div class="rating-level-box">
            <div class="level-box">
                <h1 class="text-xl font-bold">Discipline: </h1>
                <h1 class="text-xl px-2">{{ cours.nom_domaine }}</h1>
            </div>
            <div class="rating-box">
                <h1 class="text-xl font-bold">Durée: </h1>
                <h1 class="text-xl px-2">{{ cours.duree_totale }} minutes</h1>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for chapitre in chapitres %}
        <a href="{{ url_for('exercice', id_chap=chapitre.id_chap) }}"
            class="relative rounded-lg overflow-hidden shadow-lg h-64 cursor-pointer hover:scale-105 transition-transform bg-sky-500/100">
            <div class="text-3xl p-4 text-white">Chapitre {{ chapitre.ordre }}</div>
            <div class="text-xl p-6 text-white">{{ chapitre.titre_chap }}</div>
        </a>
        {% endfor %}
    </div>


</div>
{% endblock %}
