{% extends "nav.html" %}

{% block title %}Home - GLO-2005{% endblock %}

{% block content %}
    <div class="container1">
        <h1>Liste des Cours</h1>

        <div class="filters">
            <input type="text" id="search" placeholder="Rechercher un cours...">
            
            <select id="filter-discipline">
                <option value="">Toutes les disciplines</option>
                <option value="Informatique">Informatique</option>
                <option value="Réseaux">Réseaux</option>
                <option value="Sécurité">Sécurité</option>
                <option value="Bases de données">Bases de données</option>
            </select>

            <select id="sort-duration">
                <option value="">Trier par durée</option>
                <option value="asc">Durée croissante</option>
                <option value="desc">Durée décroissante</option>
            </select>
        </div>

        <div class="courses">
            <div class="course-grid" id="course-list">
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const courseListElement = document.getElementById("course-list");
            const apiUrl = "/api/cours?page=1&cours_per_page=10"; // Modifier pour changer nombre de cours par page

            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    const courses = data.data;

                    courses.forEach(course => {
                        const courseCard = document.createElement('div');
                        courseCard.classList.add('course-card');
                        
                        courseCard.innerHTML = `
                            <strong>${course.nom_cours}</strong>
                            <p>${course.description_courte}</p>
                            <span class="discipline">Discipline : ${course.id_domaine}</span>
                            <span class="duration">Durée : ${course.duree_totale} minutes</span>
                        `;
                        
                        courseListElement.appendChild(courseCard);
                    });
                })
                .catch(error => {
                    console.error("Erreur lors de la récupération des cours:", error);
                });
        });
    </script>
{% endblock %}
