<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="loginFrm">
        <form id="login-form" class="form">
          <h1 class="title">Connection</h1>

    
          <div class="inputContainer">
            <input type="text" class="input" id="email">
            <label for="email" class="label">Courriel</label>
          </div>

          <div class="inputContainer">
            <input type="password" class="input" name="login_password" id="login_password">
            <label for="password" class="label">Mot-de-passe</label>
          </div>
    

          <div class="confirm-container">
            <button type="button" class="cancelBtn" onclick="goBack()">Annuler</button>
            <input type="submit" class="submitBtn" value="Login">
          </div>

          <div class="text-center mt-10">
            <p class="text-gray-700">Vous n'avez pas de compte ?
              <a href="{{ url_for('signup') }}" class="text-blue-600 hover:underline ml-1">Créer un compte</a>
            </p>
          </div>

          <div id="login-error" class="text-red-600 text-center mt-4"></div>

        </form>
      </div>
<script>

if (localStorage.getItem("darkMode") === "true") {
      document.body.classList.add("dark-mode");
}

function goBack() {
  window.location.href = "{{ url_for('home') }}";
}

const form = document.getElementById('login-form')
const email_input = document.getElementById('email')
const password_input = document.getElementById('login_password')


form.addEventListener('submit', (e) => {
  e.preventDefault();
  console.log('Submit pressed');
  
  document.querySelectorAll('.incorrect').forEach(el => el.classList.remove('incorrect'));

  const errors = getLoginFormErrors(email_input, password_input);
  
  if(errors.length > 0){
    return;
  }

  const data = {
    email: email_input.value,
    mot_de_passe: password_input.value
  };

  fetch('/login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
    .then(res => res.json())
    .then(response => {
      if(response.id){
        document.getElementById('login-error').textContent = "";
        window.location.href = "{{ url_for( 'home' )}}"
      } else {
        document.getElementById('login-error').textContent = response.error;
      }
    })
    .catch(error => console.error('Error: ', error));
});

function getLoginFormErrors(email, password){
  let errors = [];
  if(email.value.trim() ===''){
    errors.push("Email is required")
    email.parentElement.classList.add('incorrect');
  }
  if(password.value.trim() === ''){
    errors.push("Password is required");
    password.parentElement.classList.add('incorrect');
  }

  return errors;
}
</script>
</body>
</html>