<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projet GLO-2005{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="navbar-custom w-full p-3">
        <div class="hidden lg:flex items center justify-between">
            <div class="flex items-center gap-4">
                <a href="{{ url_for('home') }}" class="mr-4">Accueil</a>
                <label for="dark-toggle" class="flex items-center cursor-pointer">
                    <div class="relative">
                      <input type="checkbox" id="dark-toggle" class="sr-only">
                      <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner flex items-center">
                        <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-transform duration-300"></div>
                      </div>
                    </div>
                    <div class="ml-3 text-sm">Mode sombre</div>
                  </label>
            </div>
            {% if user_logged_in %}
                <div class="flex items-center gap-4">
                    <button onclick="logout()" class="bg-sky-500 px-3 py-1 rounded-lg cursor-pointer hover:bg-sky-600 text-white">Déconnexion</button>
                    <a href="{{ url_for('profile') }}">Profil</a>
                </div>
            {% else %}
                <div class="flex items-center gap-4">
                    <button onclick="redirectToLogin()" class="bg-sky-500 px-3 py-1 rounded-lg cursor-pointer hover:bg-sky-600 text-white">Connexion</button>
                    <button onclick="redirectToSignUp()" class="bg-green-500 px-3 py-1 rounded-lg cursor-pointer hover:bg-green-600 text-white">S'inscire</button>
                </div>
            {% endif %}
            </div>
        </div>
    </nav>

    <script>
        function redirectToSignUp() {
            window.location.href = "{{ url_for('signup') }}"
        }
        
        function redirectToLogin() {
            window.location.href = "{{ url_for('login') }}"
        }

        function logout() {
            window.location.href = "{{ url_for('logout') }}"
        }

        const toggle = document.getElementById('dark-toggle');
        const body = document.body;

        toggle.checked = localStorage.getItem("darkMode") === "true";
        if (toggle.checked) body.classList.add("dark-mode");

        toggle.addEventListener('change', () => {
            if (toggle.checked) {
                body.classList.add("dark-mode");
                localStorage.setItem("darkMode", "true");
            } else {
                body.classList.remove("dark-mode");
                localStorage.setItem("darkMode", "false");
            }
        });
    </script>

    <body>
        {% block content %}{% endblock %}
    </body>

</body>
</html>