{% extends "nav.html" %}

{% block title %}Profile - My Website{% endblock %}

{% block content %}
    <div class="container">
        <div class="sidebar">
            <a class="active" href="{{ url_for('profile') }}">&#128100 Profile</a>
            <a>&#x1F4DA Vos Cours</a>
            <a>&#9881 Profile Settings</a>
        </div>
        <div class="card small">
            <img src="https://cdn-icons-png.flaticon.com/512/9706/9706583.png" width="300" height="300" margin="auto">
            <div class="username">LeGoat23</div>
            <div>Teacher</div>
        </div>
        <div class="card large">
            <div style="font-size: 24px; padding-bottom: 10px; font-weight: bold;">Account Information</div>
            <div class="profile-info">Username: LeGoat23</div>
            <div class="profile-info">Email: lebronjames@gmail.com</div>
            <div class="profile-info">Phone Number: 123-456-7891</div>
            <div class="profile-info">Date of Birth: 12/30/1984</div>
        </div>
    </div>
{% endblock %}